@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.especialidades {
    background-color: rgb(35, 68, 112);
    color: white;
    text-decoration: solid;
}

.valores {
    color: black;
    text-decoration: solid;
}

h4 {
    text-align: center;
    padding-top: 10px;
}

p {
    margin: 20px;
}

.valores1 {
    text-align: center;
}

.quienes_somos {
    padding-bottom: 10px;
}

.tipos_esp {
    margin: 20px;
}

.pie_pagina {
    width: 100%;
    background-color: rgb(35, 68, 112);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.pie_pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie_pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie_pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie_pagina .grupo-1 .box h2 {
    color: aliceblue;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie_pagina .grupo-1 .box p {
    color: aliceblue;
    margin-bottom: 10px;
}

.pie_pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: aliceblue;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie_pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie_pagina .grupo-2 {
    background-color: #0d2033;
    padding: 15px 10px;
    text-align: center;
    color: aliceblue;
}

.pie_pagina .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width: 800px) {
    .pie_pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}



/* MAY <3 */

.imagen_detalles {
    background-color: #1756B0;
    min-height: 216px;
}

.button-contactar {
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #28BD86;
    border-style: solid;
    border-color: #28BD86;

    border-radius: 8px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;

}

.button-contactar:hover {
    background-color: #56ade9;
    border-style: solid;
    border-color: #56ade9;
}

.bg-success2 {
    color: #28BD86;
    fill: #28BD86;
    border-color: #28BD86;
}

.margen-list {
    padding-left: 60px;
    margin-left: 15px;
}

.fondo_video {
    background-color: #F7FDFB;
}

.imgScale {
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
    width: calc((100%/7) - 20px);
    border: 1px solid #ececec;
    margin: 10px;
    opacity: 0.7;
    transition: all 0.5s ease-in-out;


}

.ullist {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
}

.card-services {
    height: 384px;

}

.card-servicesintern {
    background-color: #28BD86 !important;
    margin: 35% 0 9% 20% !important;
    padding: 20px;
}
@media (max-width: 770px) {
    .border-none {
        border: none !important;
    }

    .imagen_detalles {
        min-height: 475px;
    }

    .button-contactar {
        width: 100%;
    }
    .card-services {
        height: auto;
    
    }
    .card-servicesintern {
        background-color: #28BD86 !important;
        margin:0 !important;
        padding: 0;
    }
}

@media (max-width: 993px) {
    .card-services {
        height: auto;
    
    }
    .card-servicesintern {
        background-color: #28BD86 !important;
        margin:0 !important;
        padding: 0;
    }
}